<!DOCTYPE html>
<meta charset="utf-8">
<head>

<link href='https://fonts.googleapis.com/css?family=Fenix|Poiret+One|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:500,400,300|Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Lato:100,300,400,100italic,300italic' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  <!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script> <!-- angular -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> <!-- bootstrap -->


<script type="text/javascript" src="js/boxPlotApp.js"></script>
<script type="text/javascript" src="js/directives/boxPlot.js"></script>
<script type="text/javascript" src="js/controllers/footballCtrl.js"></script>
<!-- stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" charset='utf-8'> <!-- bootstrap -->
<link rel="stylesheet" href="stylesheets/landing-style.css">

<script>

$(document).ready(function () {

  $('#to-top').click(function(){
    console.log('scroll');
      $('html, body').animate({
          scrollTop: $('body').offset().top
      }, 750); 
  });


});  

  </script>


</head>
<body ng-app="boxPlotApp">

 

<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id='nav1'>
    <div class="container">
    <!-- brand name and/or logo -->
        <div class="navbar-brand" id="brand-land"> 
          d3-angular-boxplot
        </div>
    <!-- other stuff on the right -->
      <ul class="nav navbar-nav navbar-right" id="brand-side">
        <li >
          <a href="javascript:void(0)" id="to-top"> Back to Top </a>
        </li>

     
      </ul>
     </div>
  </nav>
</div>
     
    

<div class="container-fluid" ng-controller="footballCtrl">

<div class="row" id="grabber-row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="row" id="grabber-title">
      <h2> d3-angular-directive </h2>
    </div>
    <h4>  
      <div class="row">
      <b class="color-title">D3.js Boxplot Directive using Angular (based off of Mike Bostock's d3-boxplot <br/>
          and Gregory Hilkert's d3AngularIntegration) </b>
        <br/><br/> 

        <p class="links">
        http://bl.ocks.org/mbostock/4061502 (d3-boxplot) <br/> 
        https://github.com/EpiphanyMachine/d3AngularIntegration (d3-angular integration) 
        </p> <br/> 

        This readme could probably use some work, please let me know if I can improve. Also any suggestions are welcome. <br/><br/>
      </div>
      <div class="row">
        <b class="color-title"> Controller: </b> <br/>

        '$scope.selection' array: the buttons underneath the boxplot are used to push new indices <br/>
        which you want to graph into this $scope.selection. It ($scope.selection) is then passed into the directive. <br/><br/>
      </div>
      <div class="row">
        <b class="color-title"> (boxPlot) Directive: </b> <br/>

        scope.render(data): 'scope.selection' is passed as the data object. This will select new objects to graph. <br/>
        Additionally, we will watch for changes in the data object, and update the chart when it has changed. <br/><br/>
      </div>
      <div class="row">
          <b class="color-title"> Changes to original box.js from bl.ocks.org: </b> <br/>
          <ul class="list-unstyled">
            <li>
              D3 integration, can add and remove boxes. The data is actually passed in through the directive and not the controller however. This can be changed if needed. 
            </li>
            <li>
              This is used to remove any extra boxes. See: http://bost.ocks.org/mike/circles/ for explanation on enter() and exit().
            </li>
            <li>
              Essentially, enter() is used whenever an additional element enters your dataset, and exit() is used whenever an element is removed. From your dataset.
            </li>
          </ul>
      </div>
      <div style="text-align:center;margin-top:1.5em;font-family:Open Sans">
            <i><b class="links">
              Click on the player names below to see boxplots of
              their receptions per game from 2011 to 2013 (no labels yet).
            </b></i>
      </div>
    </h4>
  </div>
  <div class="col-md-1">

  </div>
</div>




<div class="row">

  <div class="col-md-2">
    <!-- empty space -->
  </div>

  <div class="col-md-8" id="box-container">
      <!-- boxplot area -->
        <div id="box-title">
          <h3>  NFL: Wide Receiver Receptions <br/> 2011 - 2013 </h3>
        </div>
       <box-plot data="selection" label="players"> </box-plot>
    
  </div>

  <div class="col-md-2">
    <!-- empty space -->
  </div>
</div>




<div class="row" id="playerCheck-row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
     <div class="form-group"> 
        <label ng-repeat="playerName in players" class="checkbox-inline checkbox-box" ng-class="{selected : selection.indexOf($index) !== -1 }">
        <input
          class="player-box"
          style="opacity:0;display:none"
          type="checkbox"
          name="selectedPlayers[]"
          value="{{playerName}}"
          ng-checked="selection.indexOf(playerName) > -1"
          ng-click="toggleSelection(playerName)">
          {{playerName}}
        </label>
      </div>
  </div>
  <div class="col-md-1">
  </div>
<div class='row'>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
   
  </div>
  <div class="col-md-2">
  </div>
</div>




</div>
</div>


</body>

</html>